name: Build

on: [push, pull_request]

jobs:
  build:
    services:
      mongodb:
        image: mongo:3.4.23
        ports:
          - 27017:27017
      redis:
        image: redis
        ports:
          - 6379:6379

    runs-on: ubuntu-latest

    env:
      GO111MODULE: on

    steps:
    - name: Install Go
      uses: actions/setup-go@v2.2.0
      with:
        go-version: 1.15

    - name: Get tyk from source repository
      uses: actions/checkout@v2

    - name: Install dependencies
      run: go get golang.org/x/tools/cmd/goimports && go get

    - name: Run tests
      run: go test -v ./...

    - name: Run build
      run: go build -v

    - name: Upload Build
      uses: actions/upload-artifact@v1
      with:
        name: tyk-pump-build
        path: ./tyk-pump
